---
import { commentConfig } from '@/config'

interface Props {
  path: string
}

const config = {
  ...commentConfig.twikoo,
  el: '#tcomment',
  path: Astro.props.path,
}
---

<div id="tcomment"></div>
<script is:inline src="https://registry.npmmirror.com/twikoo/1.6.42/files/dist/twikoo.all.min.js"></script>

<script define:vars={{ config }}>
function loadTwikoo() {
    twikoo.init(config);
  }
document.addEventListener("loadComment", loadTwikoo, { once: true });
</script>

<script is:inline>
document.dispatchEvent(new Event("loadComment"));
</script>